:root {
    --color-widget-background: hsla(var(--color-widget-background-hsl-values), 0.4);
}

body {
    background-image: url(/assets/wallpapers/city.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.widget-content:not(.widget-content-frameless),
.widget-content-frame {
    backdrop-filter: blur(10px);
}

